#tableContainer {
  height: 50rem;
  overflow: auto;
}

.flag {
  height: 5rem;
  width: 100%;
}

.row-cell {
  transition: 0.5s;
  cursor: pointer;
}

.row-cell:hover {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
}

.col-pointer {
  cursor: pointer;
}

.remove {
  display: none !important;
}

#modalContainer {
  align-items: center;
  justify-content: center;
  display: flex;
}

#closeModalButton {
  position: absolute;
  right: 0;
  top: 0;
}

#modal {
  height: 50%;
  width: 75%;
}

#modalBody {
  height: 100%;
  width: 100%;
}

#modalSquare {
  height: 5rem;
  width: 5rem;
}
